@import "../partials/mixin";

.toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0 2rem;
}

.switch {
	cursor: pointer;
	background: map-get($themeColorsToggleSwitchLight, "toggle-bg-color");
	border-radius: 2rem;
	display: inline-block;
	width: 4rem;
	height: 2rem;
	position: relative;
    transition: background-color .4s ease;

	&::after {
		content: "";
		border-radius: 50%;
		background: map-get($themeColorsLightTheme, "white-BG");
		position: absolute;
		top: 0.2rem;
		left: 0.1rem;
		height: 1.4rem;
		width: 1.4rem;
        transition: .4s all ease;
	}
}

.toggle__checkbox {
    display: none;

	&:checked + .switch::after {
		transform: translate(2rem, 0);
	}

	&:checked + .switch {
		background: linear-gradient(
            to right,
			map-get($themeColorsToggleSwitchDark, "toggle-gradient-color-1"),
            map-get($themeColorsToggleSwitchDark, "toggle-gradient-color-2")
		);
	}
}

@include mq(768px) {
	.toggle {
		gap: 1.5rem;
	}
}